/*
 * Copyright 2013-2014 Gateworks Corporation
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/ {
	/* these are used by bootloader for disabling nodes */
	aliases {
		can0 = &flexcan1;
		ethernet0 = &fec;
		ethernet1 = &eth1;
		led0 = &led0;
		led1 = &led1;
		led2 = &led2;
		lvds0 = &ldb;
		mxcfb0 = &mxcfb1;
		mxcfb1 = &mxcfb2;
		mxcfb2 = &mxcfb3;
		nand = &gpmi;
		sky2 = &eth1;
		ssi0 = &ssi1;
		usb0 = &usbh1;
		usb1 = &usbotg;
		usdhc2 = &usdhc3;
	};

	chosen {
		bootargs = "console=ttymxc1,115200";
	};

	leds {
		compatible = "gpio-leds";

		led0: user1 { /* MX6_PANLEDG */
			label = "user1";
			gpios = <&gpio4 6 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			linux,default-trigger = "heartbeat";
		};

		led1: user2 { /* MX6_PANLEDR */
			label = "user2";
			gpios = <&gpio4 7 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led2: user3 { /* MX6_LOCLED# */
			label = "user3";
			gpios = <&gpio4 15 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};

	memory {
		reg = <0x10000000 0x40000000>;
	};

	pps {
		compatible = "pps-gpio";
		gpios = <&gpio1 26 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	hdmi_video_in: hdmi_video_in {
		compatible = "fsl,imx6-ventana-tda1997x",
			     "fsl,imx-tda1997x-video";
		status = "okay";
	};

	hdmi_audio_in: hdmi_audio_in {
		compatible = "fsl,imx6-ventana-tda1997x",
			     "fsl,imx-tda1997x-audio";
		status = "okay";
	};

	regulators {
		compatible = "simple-bus";

		reg_1p0v: 1p0v {
			compatible = "regulator-fixed";
			regulator-name = "1P0V";
			regulator-min-microvolt = <1000000>;
			regulator-max-microvolt = <1000000>;
			regulator-always-on;
		};

		reg_3p3v: 3p3v {
			compatible = "regulator-fixed";
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		reg_usb_h1_vbus: usb_h1_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb_h1_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
		};

		reg_usb_otg_vbus: usb_otg_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio3 22 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};
	};

	sound {
		compatible = "fsl,imx6q-ventana-sgtl5000",
			     "fsl,imx-audio-sgtl5000";
		model = "sgtl5000-audio";
		ssi-controller = <&ssi1>;
		audio-codec = <&codec>;
		audio-routing =
			"MIC_IN", "Mic Jack",
			"Mic Jack", "Mic Bias",
			"Headphone Jack", "HP_OUT";
		mux-int-port = <1>;
		mux-ext-port = <4>;
	};

	sound-hdmi-in {
		compatible = "fsl,imx6q-ventana-tda1997x",
			     "fsl,imx-audio-tda1997x";
		model = "tda1997x-audio";
		ssi-controller = <&ssi2>;
		audio-codec = <&tda1997x_codec>;
		mux-int-port = <2>;
		mux-ext-port = <5>;
	};

	sound-hdmi-out {
		compatible = "fsl,imx6q-audio-hdmi",
			     "fsl,imx-audio-hdmi";
		model = "imx-audio-hdmi";
		hdmi-controller = <&hdmi_audio>;
	};

	tda1997x_codec: sound-tda1997x-codec {
		compatible = "nxp,tda1997x-codec";
		status = "okay";
	};

	mxcfb1: fb@0 {
		/* hdmi */
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "hdmi";
		interface_pix_fmt = "RGB24";
		mode_str ="1920x1080M@60";
		default_bpp = <24>;
		int_clk = <0>;
		late_init = <0>;
		status = "okay";
	};

	mxcfb2: fb@1 {
		/* Analog */
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "adv739x";
		interface_pix_fmt = "BT656";
		mode_str ="BT656-NTSC";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "okay";
	};

	mxcfb3: fb@2 {
		/* LVDS */
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB666";
		mode_str ="LDB-XGA";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	/* this is IPU<n>_DISP<n> interface from LCD block for parallel out
	 * On the GW54xx these are connected to the DISP0 pads and used for
	 * adv7393 Analog Video out
	 *
	 * IMX6Q:  can be IPU1_DISP0 or IPU2_DISP0
	 * IMX6DL: can be IPU1_DISP0
	 * thus we override it in the q/dl dts to enable and select pinctrl
	 */
	bt656if: lcd@0 {
		compatible = "fsl,lcd";
		default_ifmt = "BT656";
		status = "disabled";
	};

	backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm4 0 5000000>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <7>;
	};

	/*
	 * GW54xx has 2 video inputs:
	 *  TDA1997x HDMI in: IPU1_CSI0 pinctrl_ipu1_2
	 *  ADV7180 CVBS in : IPU2_CSI1 pinctrl_ipu2_1
	 * likely need to move this to q/dl to handle all cases
	 * make sure the ipu/csi id matches the resource in the decoder
	 */
	cap0: v4l2_cap_0 {
		/* IPU1_CSI0 - HDMI in via TDA1997x */
		compatible = "fsl,imx6q-v4l2-capture";
		/* ipu/csi id set in cpu specific as pinmux varies */
		mclk_source = <0>;
		status = "okay";
	};

	cap1: v4l2_cap_1 {
		/* Analog in via ADV7180 */
		compatible = "fsl,imx6q-v4l2-capture";
		/* ipu/csi id set in cpu specific as pinmux varies */
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_out {
		compatible = "fsl,mxc_v4l2_output";
		status = "okay";
	};

	lvds_cabc_ctrl {
		lvds0-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
	};
};

&audmux {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_audmux_4>;
	status = "okay";
};

&cpu0 {
	arm-supply = <&sw1a_reg>;
	soc-supply = <&sw1c_reg>;
	pu-supply = <&reg_pu>; /* use pu_dummy if VDDSOC share with VDDPU */
};

&flexcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1_1>;
	trx-stby-gpio = <&gpio1 2 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet_1>;
	phy-mode = "rgmii";
	phy-reset-gpios = <&gpio1 30 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&gpc {
	fsl,cpu_pupscr_sw2iso = <0xf>;
	fsl,cpu_pupscr_sw = <0xf>;
	fsl,cpu_pdnscr_iso2sw = <0x1>;
	fsl,cpu_pdnscr_iso = <0x1>;
	fsl,ldo-bypass = <1>; /* use ldo-bypass, u-boot will check it and configure */
	fsl,wdog-reset = <2>; /* watchdog select of reset source */
	pu-supply = <&reg_pu>; /* ldo-bypass:use pu_dummy if VDDSOC share with VDDPU */
};

&gpmi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpmi_nand_2>;
	status = "okay";
};

&gpu {
	pu-supply = <&reg_pu>; /* ldo-bypass:use pu_dummy if VDDSOC share with VDDPU */
};

&hdmi_audio {
	status = "okay";
};

&hdmi_cec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hdmi_cec_1>;
	status = "okay";
};

&hdmi_core {
	ipu_id = <0>;
	disp_id = <1>;
	status = "okay";
};

&hdmi_video {
	fsl,phy_reg_vlev = <0x0294>;
	fsl,phy_reg_cksymtx = <0x800d>;
	status = "okay";
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1_1>;
	status = "okay";

	eeprom1: eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
		pagesize = <16>;
	};

	eeprom2: eeprom@51 {
		compatible = "atmel,24c02";
		reg = <0x51>;
		pagesize = <16>;
	};

	eeprom3: eeprom@52 {
		compatible = "atmel,24c02";
		reg = <0x52>;
		pagesize = <16>;
	};

	eeprom4: eeprom@53 {
		compatible = "atmel,24c02";
		reg = <0x53>;
		pagesize = <16>;
	};

	gpio: pca9555@23 {
		compatible = "nxp,pca9555";
		reg = <0x23>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	hwmon: gsc@29 {
		compatible = "gw,gsp";
		reg = <0x29>;
	};

	rtc: ds1672@68 {
		compatible = "dallas,ds1672";
		reg = <0x68>;
	};
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2_2>;
	status = "okay";

	pciswitch: pex8609@3f {
		compatible = "plx,pex8609";
		reg = <0x3f>;
	};

	pciclkgen: si52147@6b {
		compatible = "sil,si52147";
		reg = <0x6b>;
	};

	pmic: pfuze100@08 {
		compatible = "fsl,pfuze100";
		reg = <0x08>;

		regulators {
			sw1a_reg: sw1ab {
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1875000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			sw1c_reg: sw1c {
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1875000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			sw2_reg: sw2 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3950000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3a_reg: sw3a {
				regulator-min-microvolt = <400000>;
				regulator-max-microvolt = <1975000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3b_reg: sw3b {
				regulator-min-microvolt = <400000>;
				regulator-max-microvolt = <1975000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw4_reg: sw4 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
			};

			swbst_reg: swbst {
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5150000>;
			};

			snvs_reg: vsnvs {
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <3000000>;
				regulator-boot-on;
				regulator-always-on;
			};

			vref_reg: vrefddr {
				regulator-boot-on;
				regulator-always-on;
			};

			vgen1_reg: vgen1 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1550000>;
			};

			vgen2_reg: vgen2 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1550000>;
			};

			vgen3_reg: vgen3 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
			};

			vgen4_reg: vgen4 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen5_reg: vgen5 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen6_reg: vgen6 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};
		};
	};
};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3_2>;
	status = "okay";

	accelerometer: mma8451@1e {
		compatible = "fsl,mma8451";
		reg = <0x1e>;
		position = <0>;
	};

	codec: sgtl5000@0a {
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		clocks = <&clks 201>;
		VDDA-supply = <&sw4_reg>;
		VDDIO-supply = <&reg_3p3v>;
	};

	hdmi_in: tda1977x@48 {
		compatible = "nxp,tda1997x";
		reg = <0x48>;
		interrupt-parent = <&gpio1>;
		interrupts = <7 IRQ_TYPE_EDGE_FALLING>;
		/* regulators */
		DOVDD-supply = <&reg_3p3v>; /* 3.3v */
		AVDD-supply = <&sw4_reg>;   /* 1.8v */
		DVDD-supply = <&sw4_reg>;   /* 1.8v*/
		hdcp = <0>; /* HDCP disabled */
		ddc_slave = <0x74>; /* DDC slave addres */
		/* video output format */
		vidout_fmt = "422_ccir"; /* BT656 */
		vidout_trc = <1>; /* insert timing codes (SAV/EAV) in stream */
		vidout_blc = <1>; /* insert blanking codes in stream */
		vidout_clkmode = "single_edge"; /* 1x clock */
		vidout_portcfg = [ 00 00 00 82 81 00 00 00 00 ];
		/* audio output format */
		audout_fmt = "i2s16"; /* I2S bus, 16bit per ch */
		audout_sysclk = <128>; /* 128fs clkmode */
		audout_layout = <0>; /* AP0,WS,A_CLK for up to 2ch audio */
		status = "okay";
	};

	hdmiout: edid@50 {
		compatible = "fsl,imx6-hdmi-i2c";
		reg = <0x50>;
	};

	touchscreen: egalax_ts@04 {
		compatible = "eeti,egalax_ts";
		reg = <0x04>;
		interrupt-parent = <&gpio7>;
		interrupts = <12 IRQ_TYPE_EDGE_FALLING>;
		wakeup-gpios = <&gpio7 12 GPIO_ACTIVE_HIGH>;
	};

	/* on IMX6Q this can be IPU1_DISP0 or IPU2_DISP0 so we define in q/dl */
	videoout: adv7393@2a {
		compatible = "adi,adv7393";
		reg = <0x2a>;
	};

	/* Analog VideoIn */
	/* EIM pads differ between IMX6Q and IMX6DL so we define pinmux/csi/ipu in IMX6Q/IMX6DL */
	videoin: adv7180@20 {
		compatible = "adi,adv7180";
		reg = <0x20>;
		clocks = <&clks 201>;
		clock-names = "csi_mclk";
		DOVDD-supply = <&reg_3p3v>; /* 3.3v */
		AVDD-supply = <&sw4_reg>;   /* 1.8v */
		DVDD-supply = <&sw4_reg>;   /* 1.8v*/
		PVDD-supply = <&sw4_reg>;   /* 1.8v*/
		pwn-gpios = <&gpio3 31 GPIO_ACTIVE_LOW>; /* powerdown */
		/* mclk required but not used */
		mclk = <24000000>;
		mclk_source = <0>;
		cvbs = <1>;
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	hog {
		pinctrl_hog: hoggrp {
			fsl,pins = <
				MX6QDL_PAD_EIM_D22__GPIO3_IO22    0x80000000 /* OTG_PWR_EN */
				MX6QDL_PAD_EIM_D31__GPIO3_IO31    0x80000000 /* VIDDEC_PWDN */
				MX6QDL_PAD_ENET_TX_EN__GPIO1_IO28 0x80000000 /* PCIE_IRQ */
				MX6QDL_PAD_ENET_TXD0__GPIO1_IO30  0x80000000 /* PHY_RST# */
				MX6QDL_PAD_ENET_TXD1__GPIO1_IO29  0x80000000 /* PCIE_RST# */
				MX6QDL_PAD_GPIO_0__CCM_CLKO1      0x000130b0 /* AUD4_MCK */
				MX6QDL_PAD_GPIO_2__GPIO1_IO02     0x80000000 /* CAN_STBY */
				MX6QDL_PAD_GPIO_7__GPIO1_IO07     0x80000000 /* HDMIIN_IRQ */
				MX6QDL_PAD_GPIO_17__GPIO7_IO12    0x80000000 /* LVDSTCH_IRQ */
				MX6QDL_PAD_KEY_COL0__GPIO4_IO06   0x80000000 /* user1 led */
				MX6QDL_PAD_KEY_ROW0__GPIO4_IO07   0x80000000 /* user2 led */
				MX6QDL_PAD_KEY_ROW4__GPIO4_IO15   0x80000000 /* user3 led */
				MX6QDL_PAD_SD1_DAT0__GPIO1_IO16   0x80000000 /* USBHUB_RST# */
				MX6QDL_PAD_SD1_DAT3__GPIO1_IO21   0x80000000 /* MIPI_DIO */
				MX6QDL_PAD_SD2_CLK__GPIO1_IO10    0x80000000 /* LVDS_GPIO */
				MX6QDL_PAD_SD3_DAT5__GPIO7_IO00   0x80000000 /* SD3_CD# */
				MX6QDL_PAD_SD4_DAT3__GPIO2_IO11   0x80000000 /* UART2_EN# */
			 >;
		};
	};
};

&ldb {
	ipu_id = <0>;
	disp_id = <0>;
	ext_ref = <1>;
	mode = "sin0";		/* single mode LVDS0 */
	sec_ipu_id = <1>;	/* only for seperate mode but must be present */
	sec_disp_id = <1>;	/* only for seperate mode but must be present */
	status = "okay";
};

&pcie {
	reset-gpio = <&gpio1 29 GPIO_ACTIVE_LOW>;
	status = "okay";

	eth1: sky2@8 { /* MAC/PHY on bus 8 */
		compatible = "marvell,sky2";
		/* Filled in by U-Boot */
		local-mac-address = [ 00 00 00 00 00 00 ];
	};
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1_2>; /* MX6_DIO0 */
	status = "disabled";
};

&pwm2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm2_1>; /* MX6_DIO1 */
	status = "disabled";
};

&pwm3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm3_1>; /* MX6_DIO2 */
	status = "disabled";
};

&pwm4 {
	pinctrl-names = "default";
	/* pinctrl-0 = <&pinctrl_pwm4_1>; */ /* MX6_DIO3 */
	pinctrl-0 = <&pinctrl_pwm4_2>; /* LVDS Backlight */
	status = "okay";
};

&ssi1 {
	fsl,mode = "i2s-slave";
	status = "okay";
};

&ssi2 {
	fsl,mode = "i2s-slave";
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1_2>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2_3>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5_1>;
	status = "okay";
};

&usbh1 {
	vbus-supply = <&reg_usb_h1_vbus>;
	status = "okay";
};

&usbotg {
	vbus-supply = <&reg_usb_otg_vbus>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg_1>;
	disable-over-current;
	status = "okay";
};

&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3_2>;
	cd-gpios = <&gpio7 0 GPIO_ACTIVE_HIGH>;
	vmmc-supply = <&reg_3p3v>;
	status = "okay";
};

&vpu {
	pu-supply = <&reg_pu>; /* ldo-bypass:use pu_dummy if VDDSOC share with VDDPU */
};
